<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap@5.2.0/dist/css/bootstrap.css">
    <title>Сайт Cosmo!</title>
</head>
<body>
    <br><br>
    <div id="app">
        <center>
            <object type="image/svg+xml" data="cookie.svg" width="200" height="200"></object>
            <h1>Сайт Cosmo!</h1>
            <h3>cosmo {{msgs[msgs.length * Math.random() | 0]}}</h3>
            <p>Проекты:</p>
            <select v-model="selected">
                <option disabled value="">Выбери проект</option>
                <option>RatLauncher</option>
                <option>pyyt</option>
            </select>
            <template v-if="selected==='RatLauncher'">
                <h1>RatLauncher</h1>
                <p>RatLauncher - лаунчер майнкрафт с открытым исходным кодом написаный мной.</p>
                <iframe src="https://ghbtns.com/github-btn.html?user=thisisignitedoreo&repo=ratlauncher&type=watch&count=true&size=large&v=2" frameborder="0" scrolling="0" width="170" height="30" title="GitHub"></iframe>
            </template>
            
            <template v-else-if="selected==='pyyt'">
                <h1>pyyt</h1>
                <p>pyyt это консольный клиент YouTube.</p>
                <iframe src="https://ghbtns.com/github-btn.html?user=thisisignitedoreo&repo=pyyt&type=watch&count=true&size=large&v=2" frameborder="0" scrolling="0" width="170" height="30" title="GitHub"></iframe>
            </template>
        </center>
    </div>
    <script src="https://unpkg.com/vue@3"></script>
    <script src="https://unpkg.com/bootstrap@5.2.0/dist/js/bootstrap.js"></script>
    <script src="main.js"></script>
</body>
</html>